build_output/*
build_artifacts/*
code_drop/*
log/*
tests/*

**/*.suo
**/*.user
**/*.sln*
bin
obj
_ReSharper*

*.csproj.user
*.resharper.user
*.cache
*~
*.swp
*.bak
*.orig


TestResult.xml
submit.xml
src/tests/*
SolutionVersion.cs
src/CommonAssemblyInfo.cs
