<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf"/>
  </configSections>

  <ShelfConfiguration Bootstrapper="Topshelf.Specs.TestAppDomainBootsrapper, TopShelf.Specs"/>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77"/>
				<bindingRedirect oldVersion="2.5.8.10295" newVersion="2.5.9.10348"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
