<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf"/>
  </configSections>

  <ShelfConfiguration Bootstrapper="Topshelf.Specs.TestAppDomainBootsrapper, TopShelf.Specs"/>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
