<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf" />
  </configSections>

  <ShelfConfiguration Bootstrapper="Topshelf.Specs.AppDomain_Specs_Bootstrapper, TopShelf.Specs" />
</configuration>
